* {
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ol > li::marker {
  font-weight: bold;
}

h2 {
  margin-left: 20px;
  text-decoration: underline;
}

p {
  margin: 15px 30px;
  text-align: justify;
}

a {
  display: block;
  margin: auto;
  text-decoration: none;
  background-color: orange;
  width: 180px;
  padding: 10px;
  color: white;
}

li {
  margin: 0 10px;
  text-align: justify;
}